.content-wrapper {
    color: black;
    /* margin-left: auto;
    margin-right: auto; */
    margin-top: 1.25em;
}


.reminder-header {
    text-align: center;
    color: #F9F9F6;
    font-size: 2em;
    line-height: 150%;
}

#nextReminder {
    color: darkgreen;
    font-weight: bold;
}

.reminder-list {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.reminder-body {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3.5em;
    width: 90%;
    margin: 5px;
    border-radius: 15px;
    padding-left: 2.5%;
    padding-right: 2.5%;

    border: 1px solid green;
}

.reminder-body>img {
    height: 50%;
    margin-right: 1em;
}

.reminderTime {
    margin-left: auto;
}

.reminder-toggle {
    margin-left: 0.5em;
}

.reminder-footer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

#addReminder {
    background-color: lightgray;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid green;
}

#addReminder>span {
    font-weight: bold;
}

#addReminder:hover {
    background-color: rgb(158, 158, 158);
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    background-color: #0C4A2Cd4;
    color: white;
    position: relative;
    top: 0;
    z-index: 10;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.menu-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    margin-left: auto;
    
}


.nav-links a {
    color: #ffffff;
    margin-left: 1.5rem;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.nav-links a:hover {
    color: #a6e3a1;
}


@media (max-width: 768px) {
    .footer-title {
        font-family: "Delius Swash Caps", cursive;
        font-size: x-large;
        font-weight: 600;
        text-align: center;
        margin: 0.4rem 0; /* reduced spacing */
      }

    .footer-links {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px; /* even spacing between icons */
        margin: 0.4rem 0;
      }

    .footer-icon {
        width: 30px;
        height: 30px;
        margin: 0 5px;
    }

    .navbar {
        flex-direction: row;
        align-items: center;
        position: relative;
       
    }

    .menu-toggle {
        display: block;
    }

    .nav-links {
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #0C4A2Cd4;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.4s ease;
        z-index: 9;
    }

    .nav-links.active {
        max-height: 500px;
        
    }

    .nav-links a {
        margin: 0.5rem 0;
        text-align: left;
        padding: 0.25rem 1rem;
        text-decoration: none;
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    .nav-links a:hover {
        background-color: #044231d5;
        color: white;
    }

}

.footer {
    max-width: 100%;
    overflow: hidden;
    background-color: #0C4A2Cd4 !important;
}

.footer-icon {
    max-width: 100%;
    height: auto;
}

.footer-icon:hover {
    transform: scale(1.2);
    filter: brightness(0.8) invert(1) sepia(1) hue-rotate(80deg) saturate(3);
  } 
