html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background: #71986b url(../Resources/Images/leaves_background.png) center/100%;
}

body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

.main-header {
    font-size: 1.5em;
    text-align: center;
    background-color: green;
    width: 10em;
    height: 3em;
    line-height: 3em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6em;
    border-radius: 15px;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.action-buttons>a {
    background-color: lightgreen;
    padding: 1em;
    border: 2px solid gray;
    border-radius: 15px;
    margin-top: 6em;
    margin-left: 4em;
    margin-right: 4em;

    text-decoration: none;
    color: black;
    cursor: pointer;
}