.content-wrapper {
    color: black;
    /* margin-left: auto;
    margin-right: auto; */
    margin-top: 1.25em;
}


.reminder-header {
    text-align: center;
    font-size: 2em;
    line-height: 150%;
}

#nextReminder {
    color: darkgreen;
    font-weight: bold;
}

.reminder-list {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.reminder-body {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3.5em;
    width: 90%;
    margin: 5px;
    border-radius: 15px;
    padding-left: 2.5%;
    padding-right: 2.5%;

    border: 1px solid green;
}

.reminder-body>img {
    height: 50%;
    margin-right: 1em;
}

.reminderTime {
    margin-left: auto;
}

.reminder-toggle {
    margin-left: 0.5em;
}

.reminder-footer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

#addReminder {
    background-color: lightgray;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid green;
}

#addReminder>span {
    font-weight: bold;
}

#addReminder:hover {
    background-color: rgb(158, 158, 158);
    cursor: pointer;
}