.content-wrapper {
    color: black;
    /* margin-left: auto;
    margin-right: auto; */
    margin-top: 1.25em;
}


.reminder-header {
    text-align: center;
    font-size: 2em;
    line-height: 150%;
}

#nextReminder {
    color: darkgreen;
    font-weight: bold;
}

.reminder-body {
    background-color: lightblue;

    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.reminder {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3.5em;
    width: 90%;
    margin: 5px;
    border-radius: 15px;
    padding-left: 5%;
    padding-right: 5%;
}

.reminder>img {
    height: 50%;
}